/* ---> +++ »»»» Configuración de la Página "Acerca de Nosotros" «««« +++ <--- */
#somos-fotoblog .contenedor-cuerpo{
    text-align: center;  /* Alinacion del texto */
    padding: 80px 12px;  /* Relleno de la caja de texto */
    margin-top: -3%;
}