#linea{ /* Linea divisora de sectores */
    margin-top: -3%;
    margin-bottom: 45px;
    margin-left: 9%;
    margin-right: 9%;
    color:#395080;
}
.color-acento{
    color:#395080;  /* Color de Texto */
}
#somos-fotoblog .contenedor-cuerpo{
    text-align: center;  /* Alinacion del texto */
    padding: 80px 12px;  /* Relleno de la caja de texto */
    margin-top: -3%;
}

.texto p{
    font-size: 20px;/* Tamaño del Texto */
    line-height: 2; /* Interlineado */
    margin-top: -20px;
}

.carousel1 img{
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-size: cover;  /* Tamaño grande sin estirar */
    background-position: center center;  /* Centrar */
}

.bot{
    font-size: 1.25em; /* Tamaño del Botón */
    font-weight: bold; /* Peso de la letra */
    padding: 10px 30px;/* Relleno */
    border-radius: 5px; /* Borde Redondeado */
    border: 2px solid rgba(0,0,0,0.3); /* Borde tipo solido sobre el boton */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);/* Sombra */
    color: white;/* Color del Texto */
    background-color: #395080; /* Fondo del Boton */
}

.bot:hover{
    background-color: blue; /* Efecto al pasar con el mouse cambia el color */
}

.contenedor-principl{
    max-width: 1400px; /* Máximo tamaño de anchura */
    margin: auto; /* margen por defecto */
}

/* Carrusel --- Boostrap */
.contenedor-grid img{
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-size: cover;  /* Tamaño grande sin estirar */
    background-position: center center;  /* Centrar */
}

#imagen-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-image: linear-gradient( /* Clase N°8--->Incorporación de Contenidos */
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("../Imagenes/a1.jpg");  /* Ubicación de la Imagen*/
    background-repeat: no-repeat; /* Que la imagen no se repita */
    background-size: cover;  /* Tamaño grande sin estirar */
    background-position: center center;  /* Centrar */
    animation: cambio_imagen 25s infinite ease-in-out;
}

#imagen-principal button{
    font-size: 1em;  /* Tamaño del Texto del Boton */
}


/* ---> Especificacón Generica de los elementos <--- */
h1{ font-size:$titulos;}
h2{ font-size: $subtitulos;}
h3{ font-size: $subtitulosh3;}
p{ font-size: $parrafos;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

/* FlexBox */
.Sector-Fotos{
    margin-top: -2%;  /*  Ubicación del Elemento*/
}
.Sector-Fotos h2{
    text-align: center;  /*  */
    color: #395780;
    margin-top: 1%;
    margin-left: 9%;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.Sector-Fotos img{
    border-radius: 10%;
    width: 370px;
    height: 350px;
    margin-top: 10%;
    margin-left: 15%;
    border: 2px solid #395780;
}

#contenedor-fotos {
    display: flex;	 /*Utilziamos el display flex visto en la clase 5*/
    flex-flow: row wrap; /* Colocamos las fotos en linea*/
    justify-content: center; /*centramos los elementos*/
    align-items: center;
    margin-top: 1%; /*Margen Superior 50px*/
}

.ultima-foto{
    color: #395780;
    text-align: center;
    margin-top: 270%;
}

.galeria{
    background-color: white;
    width:350px;
    margin: 10px;
    border: 1px solid #395080;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2); /*Efecto de sombra sobre los elementos*/
    transition: all 1s; /*transición general de 1 ssegundos para las fotos*/
    transition: 1.3s ease-in-out;
} 

.galeria:hover {
    border: 1px solid #777;  /*Al pasar con el mouse se crea un borde*/
    transform: scale(1.2); /*Amplia la imagen a una escala mayor */
}

.foto {
    height: 200px;
    background-size: cover; /*tamaño de imagen sin estirar*/
}

.autor {
    text-transform: uppercase; /*Caracteres en mayuscula*/
    color: rgba(0,0,0, 0.7);
    padding: 15px;
    text-align: center;
}

/* Imagenes Generales  */
.foto1 {
    background-image: url('../Imagenes/Flexbox/f1.jpg');
}

.foto2 {
    background-image: url('../Imagenes/Flexbox/f2.jpg');
}

.foto3 {
    background-image: url('../Imagenes/Flexbox/f3.jpg');
}