footer{
    background-color:rgb(220, 221, 238);
    margin-top: 1%;
}

footer .contenedor_final{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contenedor_final h3{
    font-size: 15px;
    text-align: center;
    margin: auto;
    color: #395080;
}
.buttons {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.buttons a:hover {
    transform: scale(1.2);
}